/lib_2d/*.o
/lib_2d/*.mod
/lib_2d/*.a
/lib_3d/*.o
/lib_3d/*.mod
/lib_3d/*.a
/programs/*/m_user.o
/programs/*/m_user.mod
/programs/*/output/*
/programs/*/apic
/programs/*/visitlog.py
/programs/*/apic.dSYM
