[submodule "particle_core"]
	path = particle_core
	url = git@gitlab.com:MD-CWI-NL/particle_core.git
[submodule "afivo"]
	path = afivo
	url = https://gitlab.com/MD-CWI-NL/afivo.git
[submodule "config_fortran"]
	path = src/config_fortran
	url = https://github.com/jannisteunissen/config_fortran
